$black: #020203;
$white: #FFFFFF;
$grey: #C4C4C4;
$dark-grey: #282D30;

$primary-red: #FF0000;
$primary-red-darken: #b40000;

$chart-red: #E60000;
$chart-red-light: #FF0101;

$logo-blue: #4AB8FF;
$logo-yellow: #FDCC0C;
$logo-pink: #FD5181;
